body {
  font-family: 'Arial', sans-serif;
  background-color: #e0f7fa; 
  margin: 0;
  padding: 0;
}

.App {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #0277bd;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.expenses {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  color: #073b61;
  max-width: 850px;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

.expenses:hover {
  transform: scale(1.02);
}

.expenses h1 {
  font-size: 3rem;
  text-align: center;
  color: #0369a1;
  margin-bottom: 25px;
  text-shadow: 2px 2px 6px rgba(96, 165, 250, 0.7);
}

.expensesForm, .addCapitalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.expensesForm select, 
.expensesForm input,
.addCapitalForm select,
.addCapitalForm input {
  padding: 12px;
  font-size: 1.1rem;
  border: 2px solid #4dd0e1; 
  border-radius: 6px;
  transition: border-color 0.3s;
  background-color: #f8fbff;
}

.expensesForm select:focus, 
.expensesForm input:focus,
.addCapitalForm select:focus,
.addCapitalForm input:focus {
  outline: none;
  border-color: #0097a7; 
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.7);
}

.expensesForm button, 
.addCapitalForm button {
  background-color: #4dd0e1;
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.expensesForm button:hover, 
.addCapitalForm button:hover {
  background-color: #26c6da; 
  transform: translateY(-2px); 
}

.error {
  color: #e63946;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.expensesList {
  margin-top: 20px;
}

.expensesList h2 {
  font-size: 2.2rem;
  color: #0369a1;
  text-align: center;
  margin-bottom: 20px;
}

.expensesList ul {
  list-style: none;
  padding: 0;
}

.expensesList li {
  padding: 12px;
  border: 2px solid #b2ebf2; 
  border-radius: 6px;
  margin-bottom: 15px;
  background: #eff6ff;
  transition: background-color 0.3s;
  position: relative;
}

.expensesList li:hover {
  background-color: white;
  color: #0369a1;
  border-color: #0369a1;
  box-shadow: 0 6px 12px rgba(96, 165, 250, 0.5);
}

.expensesList li strong {
  color: #0369a1;
  font-weight: bold;
}

.expensesList li ul {
  margin-top: 15px;
  padding-left: 25px;
}

.expensesList li ul li {
  background: #dbeafe;
  border: none;
  border-radius: 6px;
  padding: 8px;
  color: #0369a1;
  margin-bottom: 8px;
}

.expensesList li ul li:hover {
  background: white;
  color: #0369a1;

}

.erroAcont {
  color: #e63946;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}