/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; 
  color: #333333; 
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #0056b3; 
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #b3e5fc; 
}

h2 {
  color: #007acc; 
  font-size: 2rem;
  margin-bottom: 15px;
  text-decoration: underline;
}

.section {
  border-color: #60a5fa;
  border: 1px solid #90caf9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-company input,
.add-ceo input,
.add-ceo select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #60a5fa;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.add-company input:focus,
.add-ceo input:focus,
.add-ceo select:focus {
  border-color: #60a5fa;
  box-shadow: 0 0 5px #90caf9;
}

button {
  background-color: #64b5f6; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #42a5f5; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.company-list ul,
.company-list ul ul {
  list-style-type: none;
  padding: 0;
}

.company-list li {
  background-color: #e3f2fd; 
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-list li strong {
  color: #0d47a1; 
}

.company-list ul ul li {
  background-color: #ffffff; 
  color: #007acc; 
  border: 1px solid #60a5fa;
  
}

.company-list button {
  margin-left: 10px;
  background-color: #1976d2;
}

.add-ceo select {
  background-color: #ffffff;
}

h3, h4 {
  margin: 10px 0;
  color: #1565c0; 
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
